
header {
    background-color: hsl(0, 0%, 98%);
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: hsl(270, 9%, 17%);
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: hsl(270, 9%, 17%);
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

.nav-links a:hover {
    border-bottom: 2px solid hsl(270, 9%, 17%);
}

.nav-links .button {
    border: 2px solid  hsl(256, 26%, 20%);
    padding: 10px 20px;
}


.gradient-background {
    background:  hsl(256, 26%, 20%);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    color: white;
    }

.Basic {
    color: hsl(270, 9%, 17%);
}
 

